<div style="margin-left: 10px;">
  <table>
    <tr>
      <h1>Expense Report</h1>
      <h4>User:</h4> 
      <p><%= current_user.email %></p>
    </tr>

    <h4>Total Amount Spent Per Week: </h4>
    <% @day_report.each do |key, value| %>
      <tr>
        <td><%= key.strftime("%m/%d/%y") %> to <%= (key + 7.days).strftime("%m/%d/%y") %></td>
        <td><%= number_to_currency(value) %></td>
      </tr>
    <% end %>

  </table>
  <br/>

  <h3>Expense Records:</h3>
  <%= render "expense_detail" %>
  <br/>

  <%= form_tag reports_path(), method: :get do |f| %>

  	<h4>Select date range:</h4>
  	<%= date_select("start_date" , "all_dates", :start_year => 2010, :end_year => 2017, :order => [:month, :day, :year], :use_short_month => true ) %>
    <span>to</span>
    <%= date_select("end_date" , "all_dates", :start_year => 2010, :end_year => 2017, :order => [:month, :day, :year], :use_short_month => true ) %>
    
    <%= link_to reports_path(), id: 'search_date_submit' do %>
      <button type="button">SEARCH</button>
    <% end %>

  <% end %>
  <br/>

  <%= link_to 'Homepage', controller: 'welcome' %>

</div>

<script>
$(document).ready(function() {
	$('#search_date_submit').on('click', function(event) {
    event.preventDefault();
    var start_date = []; 
    var end_date = []; 

    start_date.push($('#start_date_all_dates_1i').find(":selected").val());
    start_date.push($('#start_date_all_dates_2i').find(":selected").val());
    start_date.push($('#start_date_all_dates_3i').find(":selected").val());

    end_date.push($('#end_date_all_dates_1i').find(":selected").val());
    end_date.push($('#end_date_all_dates_2i').find(":selected").val());
    end_date.push($('#end_date_all_dates_3i').find(":selected").val());

    console.log("start_date: ");
    console.log(start_date);
    console.log("end_date: ");
    console.log(end_date);
    
    $.ajax({
      url: '/reports',
      type: 'GET',
      dataType: 'script',
      data: {
        filter_by:{
          start_date: start_date, 
          end_date: end_date
        } 
      }
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });

  });

});
</script>